#drop_zone {
    /*box-sizing: border-box;*/
    display: inline-block;
    text-align: center;
    width: 215px;
    height: 97px;
    border: 2px dashed #fff;
    border-radius: 20px;
    position: relative;
    font: normal 20px/100px Arial, sans-serif;
    color: #fff;

}

#drop_zone span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#progressBar {
    margin-top: 5px;
    float: left;
    border: 1px solid #aaa;
    color: #fff;
    background-color: #1a1919;
    width: 170px;
    height: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#progress {
    width: 0;
    background-color: #d4d3d3;
    height: 10px;
    display: inline-block;
    /*border-radius: 15px 0 0 15px;*/
    border-radius: 15px;
}

#player {
    height: 400px;
    width: 500px;
    background: url('../img/Soft-Light.jpg') no-repeat;
    background-size: cover;
}

#controls {
    /*background: #312f2f*/
    padding: 20px 30px;
    height: 25px;
}

.ctrl {
    margin-top: -2px;
    padding: 0;
    height: 20px;
    width: 20px;
    border: none;
    background: url('../img/controls.png') no-repeat;
    cursor: pointer;
    float: left;

}

.ctrl:focus {
    outline: none;
}

.prev {
    background-position: -3px 0;
    margin-left: 40px;
}

.prev:hover {
    background-position: -3px -22px;
}

.play {
    background-position: -45px 0;
}

.play:hover {
    background-position: -45px -22px;
}

.pause {
    background-position: -25px 0;
}

.pause:hover {
    background-position: -25px -22px;
}

.next {
    background-position: -93px 0;
}

.next:hover {
    background-position: -93px -22px;
}

.stop {
    background-position: -67px 0;
}

.stop:hover {
    background-position: -67px -22px;
}

input[type="range"] {
    float: right;
    max-width: 100px;
}

#metadata {
    margin: 20px 50px;
}

.album {
    width: 100px;
    height: 100px;
    float: left;
    border: 5px solid rgba(0, 0, 0, 0.3);
}

.data {
    width: 200px;
    height: 110px;
    margin-left: 175px;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    color: #ffffff;
    font: normal 11px/15px Arial, sans-serif;
}

.data span {
    margin-top: 3px;
    display: inline-block;
    overflow: hidden;
    max-width: 150px;
    height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap
}

#visualization {
    float: left;
    width: 250px;
    height: 150px;
}

#visualization select {
    margin: 5px 12px 5px 30px;
    height: 21px;
    border:none;
}

#visualization canvas {
    margin: 15px 12px 0 30px;
    border-radius: 10px;
}

input[type="file"] {
    width: 225px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    /*margin-bottom: 5px;*/
    margin: 4px 0 15px 0;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#playlist {
    margin-top: -7px;
    padding: 20px 30px;
    height: 180px;
    /*width: 500px;*/
    background: url('../img/Soft-Light.jpg') no-repeat center;
    background-size: cover;

}

#list {
    height: 180px;
    background: rgba(0, 0, 0, 0.3);
    /*padding: 10px 5px;*/
    color: #ffffff;

    overflow: auto;
}

#playlist ul {
    margin: 0;
    list-style: none;
    padding: 10px;
}

#playlist a {
    font: normal 11px/15px Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}

#playlist a:hover {
    color: #d4d3d3;
}

#playlist a.current {
    color: #50c1ce;
}
